@font-face {
    font-family: Sora;
    src: url(/Sora-VariableFont_wght.ttf);
}

body {
    background-color: lightblue;
}

h1 {
    font-size: 28px;
    font-family: Sora, sans-serif;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    background-color: lightblue;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-family: Sora, sans-serif;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    color: blue;
    background-color: white;
}

p {
    font-family: Sora, sans-serif;
    font-size: 16px;
    padding: 20px;
    margin: 20px;
    color: black;
    background-color: white;
}

.logo {
    background-size: cover;
    background-image: url(/logo-emblem-black-1000.png);
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
